/* Main MediaQueries*/
@media screen and (max-width: 768px) {
  .main h1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 23px;
    font-size: 23px;
    margin-top: 30px;
    margin-right: 47px;
  }
  .main p {
    margin-left: 23px;
    font-size: 20px;
  }
}

/* Menu MediaQueries*/

@media screen and (max-width: 768px) {
  .nav-header {
    flex-direction: column;
  }
  .nav-header img {
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .nav-header ul {
    width: 100%;
    padding: 0;
    justify-content: space-around;
  }
  .nav-header ul a {
    padding: 0;
    flex-basis: 100%;
    justify-content: center;
    border-bottom: 2px solid #f2f2f2;
  }
  .nav-header a.active {
    border-top: 2px solid transparent !important;
  }

  .nav-header ul a:hover {
    border-top: 2px solid transparent;
    border-bottom: 2px solid #0065fc;
  }
}
/* End Menu Mediaqueries */

/* .container-search MediaQueries*/

@media screen and (max-width: 768px) {
  .container-search .text-search {
    display: none;
  }

  .container-search .icon-search {
    display: flex;
    color: #f2f2f2;
  }

  .container-search {
    justify-content: center;
    margin-top: 40px;
  }

  .container-search input {
    display: flex;
    font-weight: bold;
    border: 1.5px solid #f2f2f2;
    padding: 14px 40px;
    padding-left: 20px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
  }

  .container-search button {
    padding: 15px 15px;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
    margin-left: -25px;
  }

  .container-filters .filters:hover {
    background: #f3f8ff;
    transform: scale(1.08);
    transition: 0.2s;
  }

  .title-filters {
    width: 100%;
  }

  .container-filters {
    gap: 15px;

    margin-left: 33px;
  }
}

/* End .container-search MediaQueries*/

/* contrainer-filters MediaQueries */

@media screen and (max-width: 768px) /* vue mobile */ {
  .container-filters .filters:hover {
    background: #f3f8ff;
    transform: scale(1.08);
    transition: 0.2s;
  }

  .container-filters .title-filters {
    width: 100%;
  }
}

/*container-popular*/
@media screen and (max-width: 768px) {
  .container-popular {
    min-width: 100%;
    border-radius: 0%;
    padding-bottom: 20px;
  }

  .container-popular .card-desc {
    margin: 10px -76px -10px 26px;
  }
  .card-desc h3 {
    margin-right: 50px;
  }
  .container-popular .stars {
    margin: 16px 28px 5px 25px;
  }

  .container-popular .card {
    min-width: 70%;
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .container-popular .img-popular {
    height: 140px;
    /*width: 141px;*/
    overflow: hidden;
    border-radius: 15px 0px 0px 15px;
  }
  .popular-title {
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 20px;
  }

  .container-marseille {
    background-color: white;
    margin-top: 10px;
    min-width: 0;
    width: 100%;
  }

  .container-marseille .card {
    width: 420px;
    margin-bottom: 16px;
  }

  .container-marseille h2 {
    margin-left: 0;
  }

  .container-marseille a.view-more {
    margin-left: 0;
  }
  .container-accomodation {
    gap: 0;
  }
  .container-info {
    margin-left: 36px;
    gap: 10px;
    align-items: baseline;
  }

  .container-info .info {
    display: flex;
    color: #0065fc;
    font-size: 17px;
    background-color: #ffffff;
    border: 2px solid #d9d9d9;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 10px;
    border-radius: 50px;
    border-radius: 17px;
    margin-left: -3px;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .container-info p {
    font-size: large;
    margin-bottom: 10px;
  }

  .container-activity {
    min-width: 100%;
  }

  .container-activity h2 {
    margin-left: 16px;
    margin-bottom: 25px;
  }
  .container-activity-list {
    display: contents;
  }
  .container-activity .big-card {
    height: 195px;
    min-width: 70%;
    width: auto;
    margin-left: 16px;
    margin-right: 32px;
    margin-bottom: 16px;
  }
  .container-activity .card-image {
    height: 145px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .container-activity .small-card {
    min-width: 70%;
    width: auto;
    margin-left: 16px;
    margin-right: 32px;
    margin-bottom: 16px;
  }

  footer {
    margin-left: 0;
    margin-right: 0%;
  }
  .container-footer {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    gap: 10px;
    padding-bottom: 0px;
  }

  .container-footer ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }
}
