/*TABLETTE*/

@media screen and (min-width: 968px) and (max-width: 1300px) and (orientation: landscape) {
  .popular-title {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-top: 32px;
    gap: 350px;
  }
  .container-popular {
    width: 100%;
    background-color: #f2f2f2;
    padding: 0px 50px 0 50px;
    border-radius: 0;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;

    max-width: none;
  }

  .container-popular .card {
    display: flex;
    flex-direction: row;
    margin-left: 148px;
    margin-right: 135px;
  }

  .container-marseille {
    width: 100%;
    padding: 32px;
    background-color: white;
    border-radius: 0;
    padding: 32px;
  }

  .container-marseille h2 {
    margin-bottom: 20px;
    margin-left: 80px;
  }

  .container-card {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    justify-content: space-evenly;
    gap: 35px;
  }

  .container-activity {
    border-radius: 0;
    background-color: #f2f2f2;
  }
  .container-activity h2 {
    margin-bottom: 20px;
    margin-left: 80px;
  }
  .container-activity-list {
    gap: 20px;
    padding-left: 100px;
    margin-left: 140px;
  }

  .container-footer {
    display: flex;
    flex-flow: row;
    padding-top: 40px;
    padding-bottom: 35px;
    gap: 245px;
    padding-left: 70px;
    background-color: white;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container-filters {
    gap: 7px;
  }

  .container-marseille {
    width: 100%;
    padding: 32px;
    background-color: white;
    border-radius: 0;
    padding: 32px;
  }
  .container-marseille h2 {
    margin-bottom: 30px;
    margin-left: 70px;
  }

  .container-popular .card {
    display: flex;
    flex-direction: row;
    margin-left: 148px;
    margin-right: 135px;
  }
  .container-popular .img-popular {
    height: 140px;
    width: 110px;
  }

  .container-popular .card-desc {
    margin: 4px 12px 25px 20px;
  }

  .container-card {
    gap: 16px;
  }

  .container-popular {
    width: 100%;
    max-width: none;
    border-radius: 0;
  }
  .container-popular br {
    display: none;
  }

  .container-popular .popular-title {
    justify-content: space-evenly;
  }

  .container-activity {
    padding: 40px 70px 0 50px;
    border-radius: 0;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    padding-left: 16px;
    padding-right: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f2f2f2;
  }

  .container-activity h2 {
    margin-left: 90px;
    margin-bottom: 30px;
  }

  .container-activity-list {
    gap: 10px;
    padding-left: 100px;
  }

  footer {
    margin-right: 0;
  }

  .container-footer {
    display: flex;
    gap: 10px;
    background-color: white;
    justify-content: space-around;
  }
}
